server/dist/index.js
server/dist/models/deal.js
server/dist/models/vendor.js
server/dist/services/database.service.js
server/dist/routes/vendors.router.js

/node_modules
/server/node_modules
server/dist/routes/deals.router.js
