.columnContainer {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;

    .title {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
        font-size: 32px;
    }

    .flexContainer {
        display: flex;
        height: -webkit-fill-available;

        .viewTrip {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-right: 32px;
            flex:6;

            .tripDescription {
                white-space: pre;
                text-wrap: pretty;
                padding-right:20px;
            }

            .subtitle {
                align-items: center;
                justify-content: start;
                display: flex;
                flex-direction: row;
                gap: 8px;

                .subtitleDivider {
                    color: green;
                }

                .tags {
                    display: flex;
                    flex-direction: row;
                    gap: 4px;
                }

                .budget {
                    font-weight: 600;
                    color: rgb(0, 89, 0)
                }
            }

        }
        .locationInfo {
            display: flex;
            flex-direction: column;
            gap:20px;
        
            .flexItem {
                width: -webkit-fill-available;
                flex: 2;
            }
        
            .map {
                flex: 4;
            }
        }
    }
}
