.container {
  width: 100%;
  height: -webkit-fill-available;
  position: relative;
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}